<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <h1>Cadastro de Membros</h1>
                <small>Sign in input above or register</small>
            </div>
            <br/><br/>
        </div>
    </div>
    <div class="col-md-9">
        

        <div class="row">
            <div class="form-group col-md-9 col-xs-12">
                <label>Nome</label>
                <input type="text" class="form-control" ng-model="membro.nome" maxlength="100"/>
            </div>

            <div class="form-group col-md-3 col-xs-12">
                <label>Data Nascimento</label>
                <input type="text" class="form-control" ng-model="membro.dataNascimento" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-9 col-xs-12">
                <label>E-Mail</label>
                <input type="text" class="form-control" ng-model="membro.email" />
            </div>
            <div class="form-group col-md-3 col-xs-12">
                <label class="control-label">Telefone</label>
                <input type="text" class="form-control" ng-model="membro.celular" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="control-label">Função</label>
                <select ng-model="membro.funcao" class="form-control">
                    <option ng-repeat="funcao in funcoes" value="{{funcao.id}}">{{funcao.descricao}}</option>
                </select>                
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <label class="control-label">Dizimista</label>
                <input type="checkbox" ng-model="membro.dizimista">
            </div>
        </div>

        <br/>
        
    </div>
    <div class="col-md-2" style="border-left: dashed 1px #cccccc">        
        <button class="btn btn-primary col-md-12" ng-click="salvar()" >Gravar</button>
        <button class="btn btn-default col-md-12" ng-click="voltar()" >Voltar</button>
    </div>
</div>